.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: white;
}
body {
  padding: 0rem 4rem;
  background-color: black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  gap: 2.5rem;
  list-style: none;
  display: flex;
  /* padding-right: 5rem; */
  font-weight: 600;
  font-size: 0.75rem;
}
li:hover{
  color: #03a4ed;
  cursor: pointer;
}
.img > img {
  height: 5rem;
}
.area {
  display: flex;
  justify-content: space-between;
}
.primary-image > img {
  height: 20rem;
}
h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #03a4ed;
  /* padding: 1rem; */
  letter-spacing: 0.2rem;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  letter-spacing: 0.1rem;
}
span {
  color: white;
}
.text > p {
  padding: 1rem 0rem;
  text-transform: capitalize;
}
a {
  color: #03a4ed;
}
.contact {
  padding: 0.8rem 3rem;
  background-color: #03a4ed;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
}
.ceo-message {
  display: flex;
  justify-content: center;
  align-items: center;
}
#p-image {
  width: 20rem;
}
.line {
  /* margin-top: 0.2rem; */
  border: 2px solid #03a4ed;
  width: 10rem;
}
#ceo {
  font-weight: 900;
  color: white;
}
#ceo > span {
  color: #03a4ed;
}
p {
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 1rem 0rem;
}
.flexbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.it-line {
  border: 2px solid #03a4ed;
  width: 1.3rem;
  border-radius: 2px;
}
h2 {
  font-weight: 400;
  font-size: 1rem;
}
h3 {
  color: #03a4ed;
  letter-spacing: 0.1rem;
}
.cover{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.it-main{
  margin-top: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.it-card1 {
  text-align: center;
  width: 15rem;
  /* border: 1px solid white; */
  background: rgb(3, 25, 35);
  padding: 3rem 0rem 2rem 0rem;
  
}
.it-main{
  transition: 1s ease-in-out;
}
.it-main:hover{
  transition: 1s ease-in-out;
  scale: 1.1;
  .it-card1{
    background-color: white;
  }
  h4{
    color: black;
  }
  .smallcircle{
    background-color: #614392;
  }
}
.maincard > h2 {
  color: #03a4ed;
  font-size: 2rem;
  font-weight: 600;
}
.maincard > h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  
}
.maincard > a {
  text-decoration: none;
  font-size: .8rem;
  
}
.smallcircle > img {
  width: 5rem;
  text-align: center;
}
.smallcircle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -70px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(3, 25, 35);
  box-shadow: rgba(0, 0, 0, 0.25) 5px 7px 4px;
}
.client-testimonials > .it-text{
  padding-top: 2rem;
}
#testi{
  font-weight: 300;
}
.client-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}
.logoand{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoo > img{
  height: 8rem;
}
.circle{
  /* display: inline; */
  background-color: #03a4ed;
  border-radius: 100%;
  padding: 5px 15px;
  font-size: 40px;
}
.imagess{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.imagess > img{
  height: 5rem;
  float: right;
}